@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(90deg, rgba(123,212,255,1) 0%, rgba(0,86,150,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.popup.show {
    display: flex;
}


.w48{
    width: 48%;
    float: left;
    padding-right: 15px;
}
.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.w80{
    width: 80%;
    float: left;
    padding-right: 15px;
}
.w20{
    width: 20%;
    float: left;
    padding-right: 15px;
}
.box{
    display: flex;
    width: 70%;
}
.formatbox{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    padding: 10px ;
    width: 40%;
    border-radius: 20px;
    border: none;
    outline: none;
}
.error{
    color: red;
}
.img-box{
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}
.img-box img{
    width: 100%;
}
.form-box{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    width: 60%;
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    font-size: 30px;
}
.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box p a{
    color: #FF008A;
    text-decoration: none;
}
.form-box form{
    margin: 20px 0;
}
form .inputbox{
    margin-bottom: 15px;
}
form .inputbox label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .inputbox input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .inputbox select{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 5px 10px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .inputbox input:focus{
    border-color: #3876a2;
}
form .inputbutton{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
form .inputbutton .buttone,
form .inputbutton .buttonc {
    padding: 8px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, box-shadow 0.5s; /* Adiciona transição suave */
}

form .inputbutton .buttone {
    background: #0f6120;
}

form .inputbutton .buttonc {
    background: #942410;
}


form .inputbutton .buttonc:hover {
    background-color: hsl(0, 97%, 42%); /* Botão fica mais claro ao passar o mouse */
}
form .inputbutton .buttone:hover {
    background-color: hsl(120, 100%, 35%); /* Botão fica mais claro ao passar o mouse */
}
/* Aplica estilos quando a largura da tela é no máximo 930 pixels. */
@media (max-width:930px) {
    .img-box{
        display: none;
    }
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
/* Aplica estilos quando a largura da tela é no máximo 500 pixels. */
@media (max-width:500px) {
    .w50, .w48, .w20, .w80{
        width: 100%;
        padding: 0;
    }

}
small{
   color: rgb(66, 66, 66);
}
/* linha abaixo do titulo */
h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #3876a2;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

/* Customização da barra de rolagem */
html ::-webkit-scrollbar {
    width: 10px;
}
html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgba(123,212,255,1);
}
html ::-webkit-scrollbar-track {
    background: rgba(0,86,150,1);
}